* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    background-color: aliceblue;
}


.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    width: min(100%, 500px);
    position: relative;
    border: 2px solid;
    background-color: #022337c4;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.warning-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    font-size: 24px;
    display: none;
    border: 1px solid rgba(249, 20, 20, 0.562);
    background-color: rgba(249, 20, 20, 0.562);
    border-radius: 5px;
    color: white;
    z-index: 3;
}

.container .input {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
}

.minus {
    position: absolute;
    right: 5px;
    font-size: 30px;
    font-weight: 600;
    display: none;
}

.display {
    width: 100%;
    text-align: end;
    font-size: 40px;
    border-radius: 5px;
    padding-top: 80px;
    background-color: #7776bb81;
    color: black;
    border: 2px solid;
    box-shadow: inset 1px 1px 1px 1px rgba(59, 58, 58, 0.836);
}

.keypad {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, );
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
    border: 0.1px solid;
}

.keypad .equals {
    grid-column: 3 / 5;
}

button {
    padding: 5px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 800;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px black;
}

.operators{
    background-color: #fccf47;
}

.clear {
    color: rgb(221, 30, 30)
}

.backspace {
    color: rgb(156, 173, 3);
}
.equals {
    color: green;
    background-color: #fccf47;

}

.numbers, .decimal {
    background-color: #1365E8;
    color: #fff;
}

