* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
}


.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    width: min(100%, 500px);
    position: relative;
}

.warning-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    display: none;
}

.prev-solution {
    text-align: end;
}

.container .input {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
}

.minus {
    position: absolute;
    right: 5px;
    font-size: 30px;
    font-weight: 600;
    display: none;
}

.display {
    width: 100%;
    text-align: end;
    font-size: 40px;
    border-radius: 5px;
    padding-top: 80px;
}

.keypad {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, );
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
}

.keypad .equals {
    grid-column: 3 / 5;
}

button {
    padding: 5px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 800;
}

